<h1>Input your text below for counting</h1>
<form method="" action="counter">
    <textarea name="text" rows="10" cols="50"></textarea><br>
    <input type="submit"/>
</form># action is where we want to send data
<br>

<h1>Input your text below for splitting</h1>
<form method="" action="splitting">
    <textarea name="split" rows="10" cols="50"></textarea><br>
    <input type="submit"/>
</form># action is where you want to send data

<br>
<h1>Input your text below for removing punctations</h1>
<form method="" action="removepunc">
    <textarea name="punctuation" rows="10" cols="50"></textarea><br>
    <input type="submit"/>
</form>
